<h1>Welcome to Mario's Discount Snausages Projects!</h1>

<h3>The finest in snausage project technology</h3>

<h3>Lastest Additions:</h3>
<% @features.each do |feature| %>
  <h4><%= feature.name %></h4>
<% end %>
<br>
<h3>Product with the most reviews:</h3>
<% @most_reviews.each do |projects| %>
  <h4><%= projects.name %></h4>
<% end %>
<br>
All Snausages:
<ul>
  <% @projects.each do |project| %>
  <li><%= link_to project.name, project_path(project) %> -
      $<%= link_to project.price, project_path(project) %> -
      <%= link_to project.origin, project_path(project) %></li>
  <% end %>
</ul>



<%= link_to "New Project", new_project_path %>
