<h1><%= @project.name %></h1>

<% if @project.reviews.any? %>
  <h4>Here are the reviews for this project:</h4>

  <ul>
    <% @project.reviews.each do |review| %>
      <li>
        <%= review.author %>
        <%= review.content_body %>
        <%= review.rating %>

      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no reviews yet!</p>
<% end %>

<p><%= link_to "Add a review", new_project_review_path(@project) %></p>

<p><%= link_to "Delete Project", project_path(@project),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to projects", projects_path %></p>
